# Ignore Eclipse project settings
*.launch
*.project
*.cproject
*.settings/
RemoteSystemsTempFiles/
software/RemoteSystemsTempFiles/
hardware/RemoteSystemsTempFiles/

# Ignore Vivado/Vitis intermediate and generated output
*.jou
*.str
*.xml
*.html
*.xsa
*.rpt
*.cache/
*.runs/
*.ip_user_files/
*.hw/
*.sim/
*.sdk/
*.xpr
*.xise
*.vivado.log
vivado.*

hardware/sobel_proj/
!hardware/exports/
!hardware/ip_repo/sobel/**   
!hardware/sobel_proj/sobel_proj.xpr